/* goblal styles */
* {
  font-family: Poppins;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffff;
}
.componet-layout {
  padding-left: 70px;
  padding-right: 50px;
  padding-bottom: 70px;
}
.page-content-container {
  display: grid;
  grid-template-columns: 15px 1fr;
  margin: 0;
}
.rainbow-bar {
  width: 15px;
  height: auto;
  background: linear-gradient(
    #e70000,
    #ff9119,
    #f5e847,
    #f5e847,
    #00ae44,
    #00c1de
  );
  z-index: 2;
}
.page-content {
  height: auto;
}

.btn {
  height: 38px;
  font-size: 12px;
  font-family: Poppins;
  color: #0060af;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  padding: 10px 20px;
}

/* navbar styles */

nav {
  background-color: #0060af;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 650px;
  padding: 20px 60px;
  margin: 0;
  flex-direction: row;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  box-sizing: border-box;
}

.nav-logo-wrapper {
  flex-shrink: 0;
}

.nav-links-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin-right: 35px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-family: Poppins;
  font-weight: 600;
}
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: white;
  transition: all 0.3s ease;
}
.btn {
  height: 38px;
  max-width: 130px;
  font-size: 12px;
  font-family: Poppins;
  color: #0060af;
  background-color: #fff;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
}

/* banner styles */
.banner {
  background-size: cover;
  background-position: center;
  height: 100vh;
  min-height: 650px;
  min-width: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.banner-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 50px;
  z-index: 2;
  position: relative;
}

.banner-text h1 {
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  line-height: 55px;
  margin: 0;
}

.banner-text p {
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.straight-line {
  height: 25px;
  width: 4px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  margin: 10px 0;
}

/* Rainbow image placed at the bottom of the banner */

.rainbow-wrapper {
  width: 100%;
}

.rainbow-image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  z-index: 100;
  position: absolute;
  left: 0;
  right: 0;
  top: 203px;
}

/* about-component styles */
.about-component {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 20px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.about-component .about-image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.about-text-contianer {
  margin: 0;
}

.common-title {
  font-size: 18px;
  font-weight: 500;
  font-family: Poppins, sans-serif;
  line-height: 20px;
  color: #000;
  margin: 0 0 10px 0;
}

.heading-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.heading-wrapper .heading {
  font-size: 30px;
  font-weight: 700;
  font-family: Poppins, sans-serif;
  color: #000;
  margin: 0 12px 0 0;
}

.about-text-contianer {
  margin: 0 0 30px;
  padding-right: 20px;
  max-width: 100%;
  box-sizing: border-box;
}

.about-text-contianer p {
  font-size: 16px;
  font-weight: 400;
  font-family: Lato, sans-serif;
  color: #656565;
  line-height: 25px;
  margin-bottom: 15px;
}

/* category component styles */

.category-all-images-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 10px;
  column-gap: 30px;
  margin: 0 auto;
  padding: 0;
  max-width: 100%;
}

/* Large left image container */
.category-image-container {
  position: relative;
  padding: 0;
  margin: 0 auto;
  max-width: 612px;
}

/* Overlay text */
.category-image-text-container {
  background: linear-gradient(
    45deg,
    rgba(255, 145, 25, 0.6),
    rgba(255, 145, 25, 0.7)
  );
  backdrop-filter: blur(50px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 25px;
  box-sizing: border-box;
  position: absolute;
  bottom: 6px;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  max-width: 612px;
}

.category-image-text-container h3 {
  font-size: 20px;
  font-weight: 600;
  font-family: Poppins;
  color: #fff;
  line-height: 20px;
}

/* Right cards grid */
.category-group-card-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  column-gap: 10px;
  margin-top: 3px;
  max-width: 600px;
  width: 100%;
}

/* Card styling */
.category-card {
  position: relative;
}

.category-card h3 {
  font-size: 20px;
  font-weight: 600;
  font-family: Poppins;
  color: #fff;
  line-height: 20px;
  position: absolute;
  left: 20px;
  bottom: 10px;
  z-index: 1;
}

/* service component styles */

.serivce-card-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}
.serivce-card {
  position: relative;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}
.service-card-img {
  height: 385px;
  width: 385px;
}
.serivce-card-text-container {
  width: 385px;
  height: 148px;
  background: linear-gradient(
    90deg,
    rgba(255, 231, 16, 0.5),
    rgba(255, 231, 16, 0.7)
  );
  backdrop-filter: blur(50px);
  padding: 10px 30px;
  padding-bottom: 10px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  text-align: left;
  align-content: center;
}
.serivce-card-text-container h3 {
  font-size: 20px;
  font-weight: 600;
  font-family: Poppins;
  color: #000;
  margin: 0;
}
.serivce-card-text-container p {
  font-size: 16px;
  font-weight: 400;
  font-family: Lato;
  color: #000;
  margin: 5px 0;
  margin-bottom: 15px;
}

/* colours component styels */

.colours-card-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding-bottom: 100px;
}

.color-card {
  height: 272px;
  width: 180px;
  box-sizing: border-box;
}
.color-heading {
  height: 35px;
  width: 180px;
  background-color: #fff;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  z-index: 1;
  text-align: center;
  align-content: center;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.15);
}

.color-heading span {
  color: #000;
  font-size: 12px;
  font-weight: 600;
  font-family: Poppins;
}
.color-footer {
  height: 70px;
  width: 180px;
  background-color: #fff;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  z-index: 1;
  text-align: center;
  align-content: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}
.color-footer p {
  color: #000;
  font-size: 15px;
  font-weight: 400;
  font-family: Poppins;
  margin: 4px;
}
.color-footer span {
  display: block;
  color: #666565;
  font-size: 14px;
  font-weight: 600;
  font-family: Lato;
}
.color-box-container {
  height: 158px;
  width: 180px;
  box-sizing: border-box;
  padding: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 5px white;
}
.color-box {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

/* dealer component styles */

.dealer {
  background-size: cover;
  background-position: center;
  height: 358px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: -80px;
  margin-right: -50px;
  overflow: hidden;
  z-index: 0;
}
.dealer h4 {
  color: #fff;
  opacity: 98%;
  font-size: 18px;
  font-weight: 500px;
  font-family: Poppins;
  line-height: 20px;
  margin: 0;
}
.dealer h1 {
  color: #fff;
  font-size: 30px;
  font-weight: 700px;
  font-family: Poppins;
  line-height: 20px;
  margin: 20px;
}
.dealer-paragraph-text-wrapper {
  width: 500px;
  text-align: center;
  margin-bottom: 25px;
}
.dealer p {
  color: #fff;
  opacity: 95%;
  font-size: 16px;
  font-weight: 400px;
  font-family: Lato;
  line-height: 25px;
  margin: 0;
}

.dealer-wrapper {
  position: relative;
  width: 100%;
}

/* blog component styles */

.blog-card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.featured-image {
  height: 487px;
  width: 469px;
  max-width: 469px;
}
.bolg-card {
  width: 100%;
  position: relative;
  margin-bottom: 15px;
}
.bolg-image-wrapper {
  position: relative;
  height: auto;
}

.blog-card-image {
  height: auto;
  object-fit: cover;
}

.bolg-image-wrapper img {
  height: 443px;
}

.blog-text-wrapper {
  width: 300px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  padding: 60px 10px 0 20px;
  color: white;
}

.blog-text-wrapper p {
  font-size: 18px;
  font-weight: 600;
  font-family: Poppins;
  margin: 5px 0;
}

.blog-text-wrapper span {
  font-size: 14px;
  font-weight: 500;
  font-style: italic;
  font-family: Lato;
}

/* copy right component styles */

.copy-right {
  height: 740px;
  padding: 25px 100px;
  min-width: 680px;
  position: relative;
  box-sizing: border-box;
}
.copy-right {
  height: auto;
  padding: 25px 100px;
  position: relative;
}
.copy-right h1 {
  font-size: 30px;
  font-family: Poppins;
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin-bottom: 50px;
}
.copy-right .title-group-wrapper {
  border: 0 solid black;
  border-bottom-width: 0.8px;
  border-bottom-color: #eedbb0;
  padding-bottom: 30px;
}
.copy-right ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.copy-right ul li {
  list-style: none;
  margin: 10px 0;
  margin-right: 48px;
}
.copyright-brand-logos {
  height: 48px;
  width: 150px;
}
.copy-right .copyright-first {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  margin-top: 50px;
  text-align: start;
}
.copy-right .copyright-input-text-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.copy-right .text-wrapper {
  margin-right: 70px;
}
.copy-right .text-wrapper p {
  font-size: 12px;
  font-weight: 400;
  font-family: Lato;
  color: #fff;
}
.copyright-subtitile {
  font-size: 14px;
  font-weight: 700;
  font-family: Poppins;
  color: #eedbb0;
  margin: 0;
  margin-bottom: 12px;
}

.copy-right .input-button-container {
  height: 42px;
  position: relative;
  box-sizing: border-box;
}

.copy-right .input-continer {
  width: 361px;
  height: 41px;
  border: solid 1px #eedbb0;
  border-radius: 30px;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0px;
  margin: 0;
  padding: 0;
}

.copy-right .input-continer input {
  border: solid 0px #eedbb0;
  border-radius: 50px;
  background-color: transparent;
  outline: 0;
  padding-left: 15px;
  padding-right: 140px;
  color: #ffff;
  font-size: 12px;
  font-weight: 500;
  font-family: Poppins;
}
.copy-right .input-continer input::placeholder {
  color: #ffff;
}
.copy-right .enqire-btn {
  height: 45px;
  max-width: 120px;
  font-size: 12px;
  font-family: Poppins;
  color: #eedbb1;
  background-color: #0060af;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  position: absolute;
  right: -10px;
  top: 0;
  bottom: 0;
}

.copy-right h3 {
  font-size: 14px;
  font-weight: 700;
  font-family: Poppins;
  color: #eedbb0;
  margin: 0;
}

.copy-right .img-logo-container {
  display: flex;
  align-items: center;
  justify-content: baseline;
  margin: 10px 0;
}
.copy-right .copyright-second {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  margin-top: 50px;
  text-align: start;
  align-content: baseline;
}

.copyright-text-container {
  width: 300px;
}
.copyright-icons {
  margin-right: 10px;
}
.copyright-text {
  font-size: 12px;
  font-weight: 400px;
  font-family: Lato;
  color: #fff;
}
.copyright-text2 {
  font-size: 12px;
  font-weight: 500px;
  font-family: Poppins;
  color: #fff;
  margin: 0;
  margin-bottom: 10px;
}
.copyright-right {
  display: flex;
  align-items: start;
  justify-content: space-evenly;
}
.copyright-logos {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.copyright-logos .copyright-logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border: solid 1px #fff;
  border-radius: 50%;
  margin-right: 10px;
}
.footer-bar {
  height: 50px;
  background-color: #0060af;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -50px;
  z-index: 99;
}
.footer-bar span {
  font-size: 12px;
  font-family: Poppins;
  font-weight: 500;
  color: #fff;
}

.container {
  height: 100vh;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  text-align: center;
}

.notfound-heading {
  font-size: 6rem;
  margin: 0;
}

.notfound-text {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.notfound-link {
  color: #000;
  background-color: #fff;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s ease;
}

/* Responsive Styles */
@media (max-width: 1365px) {
  .rainbow-wrapper {
    display: none;
  }
}

@media (max-width: 1024px) {
  .about-component {
    grid-template-columns: 1fr;
  }

  .common-text-wrapper .common-text-contianer {
    padding-right: 0;
  }

  .heading-wrapper {
    flex-direction: row;
    align-items: center;
  }

  .heading-wrapper .heading {
    font-size: 26px;
  }
  .about-image {
    margin-top: 10px;
  }

  .serivce-card-container {
    grid-template-columns: auto auto;
    gap: 16px;
  }
  .serivce-card-text-container {
    height: auto;
    padding: 15px 20px;
  }

  .serivce-card-text-container h3 {
    font-size: 18px;
  }

  .serivce-card-text-container p {
    font-size: 14px;
    margin-bottom: 12px;
  }

  .blog-card-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 992px) {
  .category-all-images-wrapper {
    grid-template-columns: 1fr;
    padding: 0 20px;
  }

  .category-group-card-wrapper {
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
    margin: 0 auto;
  }
  .serivce-card-container {
    display: block;
  }
}

@media (max-width: 600px) {
  .serivce-card-container {
    display: block;
  }

  .serivce-card-text-container {
    padding: 12px 16px;
  }

  .serivce-card-text-container h3 {
    font-size: 16px;
  }

  .serivce-card-text-container p {
    font-size: 13px;
  }
}
@media (max-width: 767.98px) {
}

@media (max-width: 768px) {
  .btn {
    width: auto;
    font-size: 14px;
    padding: 10px 20px;
    margin-top: 10px;
    align-self: center;
  }
  .hamburger {
    display: flex;
    position: absolute;
    right: 30px;
    top: 25px;
    z-index: 10001;
  }

  .nav-links-wrapper {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    background-color: #0060af;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 20px;
  }

  .nav-links-wrapper.active {
    display: flex;
  }

  .nav-links-wrapper ul {
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  .nav-links-wrapper ul li {
    margin-right: 0;
    width: 100%;
  }

  .nav-links-wrapper ul li a {
    display: block;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
  }

  .banner-content {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }

  .banner-text h1 {
    font-size: 36px;
    line-height: 42px;
  }

  .banner-text p {
    font-size: 14px;
  }

  .category-all-images-wrapper {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }

  .category-group-card-wrapper {
    grid-template-columns: 1fr;
    max-width: 100%;
  }

  .blog-card-wrapper {
    grid-template-columns: 1fr;
  }

  .copy-right ul,
  .copy-right .copyright-input-text-wrapper {
    flex-direction: column;
  }

  .copy-right .copyright-first {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .copyright-right {
    flex-direction: column;
    align-items: normal;
  }

  .copy-right .text-wrapper {
    margin-right: 0;
  }

  .copy-right .copyright-second {
    display: flex;
    flex-direction: column;
  }

  section.copyright-about,
  .copyright-category,
  .copyright-services,
  .copyright-titiles-logos {
    margin-bottom: 10px;
  }

  .copyright-logos {
    margin-bottom: 40px;
  }
}

@media (max-width: 600px) {
  .common-text-wrapper .common-title {
    font-size: 16px;
  }

  .about-text-contianer p {
    font-size: 14px;
    line-height: 22px;
  }
}

@media (max-width: 480px) {
  nav {
    padding: 10px;
    position: relative;
    left: 0;
    right: 0;
  }

  nav ul li a {
    font-size: 14px;
  }

  .btn {
    font-size: 13px;
    padding: 10px 18px;
  }

  .category-image-text-container h3 {
    font-size: 16px;
  }

  .category-card h3 {
    font-size: 16px;
  }
}
